<%- include("../partials/header.ejs") -%>
</head>
<body>
	<%- include('../partials/navigation.ejs') %>
	<main>
		<div class="container-fluid mt-100">
      <% if(!kids) { %>
        <div class="row">
          <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Nama anak</h5>
                <p class="card-text">Klik tombol dibawah ini untuk mulai mengisi ATEC (laporan bulanan). Atau buat baru</p>
                <a href="/atec/form" class="btn btn-primary">Mulai</a>
              </div>
            </div>          
          </div> -->
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <form action="/atec/form-child" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" id="child-name" name="name" placeholder="Tulis nama anak" required>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="genderpria" name="gender" value="laki" class="custom-control-input" required>
                      <label class="custom-control-label" for="genderpria">Laki laki</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="genderwanita" name="gender" value="perempuan" class="custom-control-input" required>
                      <label class="custom-control-label" for="genderwanita">Perempuan</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control" name="birthday" data-link="calculate-age" required>
                  </div>
                  <div class="form-group">
                    <p>Umur : <span class="jc-auto-age" data-target="calculate-age">-</span> tahun</p>
                  </div>
                  <div class="form-group">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </form>              
              </div>
            </div>          
          </div>
        </div>
      <% } else { %>
        <div class="scrollable-box">
          <form action="/atec/form-report" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="kidName" value="<%= kids[0].name %>">
            <div class="row">
              <div class="col col-12 mb-4">
                <div class="row mb-4">
                  <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card">
                      <div class="card-body">
                        <p>Nama : <%= kids[0].name %></p>
                        <p>Jenis kelamin : <%= kids[0].gender %></p>
                        <%
                          const birthdayString = kids[0].birthday.getDate() + ' - ' + (kids[0].birthday.getMonth() + 1) + ' - ' + kids[0].birthday.getFullYear();
                        %>
                        <p>Birth day : <%= birthdayString %></p>
                        <%
                          var listReportMonthYear = [];
                          if (listreport) {
                            listreport.forEach(el => {
                              listReportMonthYear.push(el.monthYear);
                            });
                          }
                        %>
                        <input type="hidden" class="available-report-date" value="<%= listReportMonthYear %>">
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Piih Bulan dan Tahun laporan ATEC</h3>
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-2 mb-3">
                    <select name="atecMonth" class="form-control jc-auto-select jc-check-available-monthyear" data-type-auto="month">
                      <option value="0">Januari</option>
                      <option value="1">Februari</option>
                      <option value="2">Maret</option>
                      <option value="3">April</option>
                      <option value="4">Mei</option>
                      <option value="5">Juni</option>
                      <option value="6">Juli</option>
                      <option value="7">Agustus</option>
                      <option value="8">September</option>
                      <option value="9">Oktober</option>
                      <option value="10">November</option>
                      <option value="11">Desember</option>
                    </select>
                  </div>
                  <div class="col-md-12 col-lg-3 col-xl-2 mb-3">
                    <select name="atecYear" class="form-control jc-auto-select jc-check-available-monthyear" data-type-auto="year">
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="separator">
            <div class="row atec-form-style">
              <div class="col-sm-12 col-md-10 col-lg-8">
                <%- include("../partials/form1") -%>
                <%- include("../partials/form2") -%>
                <%- include("../partials/form3") -%>
                <%- include("../partials/form4") -%>
              </div>
            </div>
          </form>
        </div>
      <% } %>
		</div>
	</main>
	<%- include("../partials/footer") -%>
	<%- include("../partials/end") -%>
